.header {
  composes: stripes from "../components/tools.module.css";

  padding: calc(2 * var(--spacing-xx-large)) 0 0 0;
  border-bottom: 1px solid var(--color-blue-10pc);
}

.title {
  margin: 0;
  font-size: 2rem;
  color: var(--color-blue);
}

.navWrapper {
  background-color: var(--color-white);
}
