.nav {
  margin: 1rem 0 0 0;
  margin-left: calc(-1 * var(--spacing-medium));
}

.nav__list {
  margin: 0 auto;
  padding: 0;
  list-style: none;
  background-color: var(--color-white);
}

.nav__item {
  display: inline-block;
}

.nav__link {
  font-weight: 600;
  letter-spacing: 0.5px;
}

.nav__link {
  display: block;
  color: var(--color-blue);
  padding: var(--spacing-small) var(--spacing-medium);
}
