/* VARS */

:root {
  --color-blue: #0000ff;
  --color-blue-30pc: #d8d8ff;
  --color-blue-10pc: #ebebff;
  --color-purple: #cb00cb;
  --color-purple-30pc: #ff9dff;
  --color-yellow: #ffff00;
  --color-charcoal: #333333;
  --color-slate: #6c6c6c;
  --color-white: #fefefe;

  --color-stripe: var(--color-blue-30pc);

  --font-size-small: 16px;
  --font-size: 18px;

  --spacing-x-small: 4px;
  --spacing-small: 8px;
  --spacing-medium: 16px;
  --spacing-large: 24px;
  --spacing-x-large: 32px;
  --spacing-xx-large: 64px;

  --line-height: 1.8;
}

header {
  --color-stripe: var(--color-blue-10pc);
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: var(--line-height);
  font-size: var(--font-size);
  color: var(--color-charcoal);
  background-color: var(--color-white);
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

a {
  color: var(--color-blue);
}

a:visited {
  color: var(--color-purple);
}

a:focus {
  color: var(--color-charcoal);
  background-color: var(--color-yellow);
  outline: 7px solid var(--color-yellow);
  outline-offset: -1px;
  border: none;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

h3 small {
  display: block;
  color: var(--color-slate);
}

main {
  margin-top: var(--spacing-xx-large);
}

hr {
  margin: var(--spacing-xx-large) 0;
  height: var(--spacing-medium);
  border: none;
  background-image: linear-gradient(
    135deg,
    var(--color-stripe) 6.25%,
    var(--color-white) 6.25%,
    var(--color-white) 50%,
    var(--color-stripe) 50%,
    var(--color-stripe) 56.25%,
    var(--color-white) 56.25%,
    var(--color-white) 100%
  );
  background-size: 11.31px 11.31px;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
